

export(dblm)
export(dblm.dist)
export(dblm.D2)
export(dblm.Gram)

export(dbglm)
export(dbglm.dist)
export(dbglm.D2)
export(dbglm.Gram)

export(ldblm)
export(ldblm.dist)
export(ldblm.D2)
export(ldblm.Gram)

export(ldbglm)
export(ldbglm.dist)
export(ldbglm.D2)
export(ldbglm.Gram)

export(dbplsr)
export(dbplsr.dist)
export(dbplsr.D2)
export(dbplsr.Gram)

export(disttoD2)
export(D2toDist)
export(D2toG)
export(GtoD2)
export(as.D2)
export(is.D2)
export(as.Gram)
export(is.Gram)


S3method(plot,dblm)
S3method(plot,dbplsr)
S3method(plot,ldblm)

S3method(print,dblm)
S3method(print,ldblm)
S3method(print,dbglm)
S3method(print,dbplsr)


S3method(summary,dbglm)
S3method(print,summary.dbglm)
S3method(summary,dblm)
S3method(print,summary.dblm)
S3method(summary,ldblm)
S3method(print,summary.ldblm)
S3method(summary,dbplsr)
S3method(print,summary.dbplsr)


S3method(predict,dblm)
S3method(predict,dbglm)
S3method(predict,ldblm)
S3method(predict,ldbglm)
S3method(predict,dbplsr)
S3method(print,predict.ldblm)
S3method(print,predict.ldbglm)

S3method(dblm,formula)
S3method(dbglm,formula)
S3method(ldblm,formula)
S3method(ldbglm,formula)
S3method(dbplsr,formula)

